// all.styl

background-webp($basename, $revision = "") {
	.webp & {
		$file = $basename + ".webp" + $revision;
		background-image: url($file);
	}
	.no-webp & {
		$file = $basename + ".jpg" + $revision;
		background-image: url($file);
	}
}

body {
	color: #333;
}

body {
	background: #fff;
	background-webp("bg");
}
